{% extends 'base.html.twig' %}

{% set current_page = 'aside-menu-products' %}

{% block title %}Products index{% endblock %}

{% block additional_js %}
    {{ include('partials/active_menu_script.html.twig') }}
{% endblock %}

{% block body %}
    <h3 class="fw-bold py-3 mb-4 ms-3">
        Products
    </h3>
    <!-- Products List Card -->
    <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="mb-0">Products</h5>
            <a href="{{ path('app_products_new') }}" class="btn btn-primary">
                <i class="bx bx-plus me-0 me-sm-1"></i>
                <span class="d-none d-sm-inline-block">Add Product</span>
            </a>
        </div>
        <div class="table-responsive text-nowrap scrollable-container overflow-hidden">
            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Category</th>
                    <th>Active</th>
                    <th>CreatedAt</th>
                    <th>UpdatedAt</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{ product.id }}</td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.description }}</td>
                        <td>{{ product.category.name }}</td>
                        <td>{{ product.active ? 'Yes' : 'No' }}</td>
                        <td>{{ product.createdAt ? product.createdAt|date('d-m-Y H:i:s') : '' }}</td>
                        <td>{{ product.updatedAt ? product.updatedAt|date('d-m-Y H:i:s') : '' }}</td>
                        <td>
                            <a href="{{ path('app_products_show', {'id': product.id}) }}" class="btn btn-primary">
                                <i class='bx bx-show-alt'></i>
                            </a>
                            <a href="{{ path('app_products_edit', {'id': product.id}) }}" class="btn btn-success">
                                <i class='bx bxs-edit'></i>
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="9" class="text-center">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
