{% extends 'base.html.twig' %}

{% set current_page = 'aside-menu-products' %}

{% block title %}Products{% endblock %}

{% block additional_js %}
    {{ include('partials/active_menu_script.html.twig') }}
{% endblock %}

{% block body %}
    <h3 class="fw-bold py-3 mb-4 ms-3">
        Products
    </h3>
    <div class="card pb-2 container-fluid">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h5 class="mb-0">Product</h5>
            <div>
                <a href="{{ path('app_products_index') }}" class="btn btn-secondary">
                    <i class="bx bx-arrow-back me-0 me-sm-1"></i>
                    <span class="d-none d-sm-inline-block">Back to List</span>
                </a>
                <a href="{{ path('app_products_new') }}" class="btn btn-primary">
                    <i class="bx bx-plus me-0 me-sm-1"></i>
                    <span class="d-none d-sm-inline-block">Add Product</span>
                </a>
            </div>
        </div>
        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ product.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ product.description }}</td>
            </tr>
            <tr>
                <th>CategoryId</th>
                <td>{{ product.category.name }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ product.createdAt ? product.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ product.updatedAt ? product.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Active</th>
                <td>{{ product.active ? 'Yes' : 'No' }}</td>
            </tr>
            </tbody>
        </table>
        <div class="d-flex p-2">
            <a href="{{ path('app_products_edit', {'id': product.id}) }}" class="btn btn-primary">Edit</a>
        </div>
    </div>

{% endblock %}
