<div class="w-100">
    {{ form_start(stock_request_form) }}
    <div class="row">
        <div class="col-md-5 col-12 mb-3 row">
            <div class="col-12">
                {{ form_row(stock_request_form.fromSite) }}
            </div>
            <div class="col-12">
                {{ form_row(stock_request_form.toSite) }}
            </div>
        </div>
        <div class="col-md-5 col-12 mb-3">
            <div>
                {{ form_row(stock_request_form.remarks) }}
            </div>
        </div>
        <div class="d-flex flex-wrap col-md-2 col-12 mb-3 align-items-end">
            <div class="d-none">
                {{ form_widget(stock_request_form._token) }}
            </div>
            <div class="m-1">
                <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
            </div>
            {{ form_end(stock_request_form) }}
            <div class="m-1">
                {{ include('stock_request/_delete_form.html.twig') }}
            </div>
            <div class="m-1">
                {{ include('stock_request/_wf_transitions,html.twig') }}
            </div>
        </div>
{#        {% for field in stock_request_form %}#}
{#            {% if field.vars.name != '_token' %}#}
{#                <div class="col-md-4 col-12 mb-3">#}
{#                    <div class="form-group">#}
{#                        {{ form_row(field) }}#}
{#                    </div>#}
{#                </div>#}
{#            {% endif %}#}
{#        {% endfor %}#}
    </div>
</div>

