{% extends 'base.html.twig' %}

{% block title %}Edit StockRequest{% endblock %}

{% set current_page = 'aside-menu-stock-requests' %}

{% block additional_js %}
    {{ include('partials/active_menu_script.html.twig') }}
{% endblock %}

{% block body %}
    <h3 class="fw-bold py-3 mb-4 ms-3">
        Stock Request
    </h3>

    <div class="card pb-5">
        <div class="card-header d-flex">
            <h5 class="mb-0">Request's Info</h5>
            <a class="btn btn-secondary ms-auto" href="{{ path('app_stock_request_index') }}">
                <i class="bx bx-arrow-back me-0 me-sm-1"></i>
                <span class="d-none d-sm-inline-block">Back To List</span>
            </a>
        </div>
        <div class="container-fluid">
            <div class="my-2 d-flex flex-wrap justify-content-between align-items-center">
                <span>Request Id:- {{ stock_request.id }}</span>
                <span>Requested By:- {{ stock_request.requestedBy.email }}</span>
                <span>Status:- {{ stock_request.status|raw }}</span>
            </div>
            <div class="my-2 d-flex">
                {{ include('stock_request/_form.html.twig') }}
            </div>
        </div>
    </div>

    <div class="my-2">
        <div class="card pb-5">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="mb-0">Product's Info</h5>
            </div>
            <div class="container-fluid">
                {{ form_start(stock_request_items_form) }}
                <div class="row">
                    {% for field in stock_request_items_form %}
                        {% if field.vars.name != '_token' %}
                            <div class="form-group col-md-4 col-12 p-2">
                                {{ form_row(field) }}
                            </div>
                        {% endif %}
                    {% endfor %}
                    <div class="form-group col-md-3 col-12 d-flex align-items-end p-2">
                        <input type="submit" value="Add Product" class="btn btn-primary"/>
                    </div>
                </div>
                {{ form_end(stock_request_items_form) }}
            </div>
            <div class="my-2">
                <div class="table-responsive text-nowrap scrollable-container overflow-hidden">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Quantity Requested</th>
                            <th>Quantity Approved</th>
                            <th>Product</th>
                            <th>Status</th>
                            <th>CreatedAt</th>
                            <th>actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for stock_request_item in stock_request.stockRequestItems %}
                            <tr>
                                <td>{{ stock_request_item.id }}</td>
                                <td>{{ stock_request_item.quantityRequested }}</td>
                                <td id="td-{{ stock_request_item.id }}">{{ stock_request_item.quantityApproved }}</td>
                                <td>{{ stock_request_item.product.name }}</td>
                                <td>{{ stock_request_item.status.badge|raw }}</td>
                                <td>{{ stock_request_item.createdAt ? stock_request_item.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                                <td class="d-flex">
                                        <a href="{{ path('app_stock_request_items_edit', {'id': stock_request_item
                                        .id}) }}" id="{{ stock_request_item.id }}" class="btn btn-warning m-1">
                                            <i class="bx bx-edit"></i>
                                        </a>
                                    <form method="post" action="{{ path('app_stock_request_items_delete', {'id':
                                        stock_request_item.id}) }}" id="delete_stock_request_item"
                                          class="delete-form  p-1" data-product-name="{{ stock_request_item.product
                                    .name|default
                                        ('this item') }}">
                                        <input type="hidden" name="_token"
                                               value="{{ csrf_token('delete' ~ stock_request_item.id) }}">
                                        <button type="submit" class="btn btn-danger h-100"><i class="bx
                                        bxs-trash"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="10" class="text-center">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
