{% extends 'base.html.twig' %}

{% block title %}Edit StockRequest{% endblock %}

{% set current_page = 'aside-menu-stock-requests' %}

{% block additional_js %}
    {{ include('partials/active_menu_script.html.twig') }}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            $('.update-item').hide().click(function (e) {
                $(this).hide();
                const id = this.dataset.id;
                let approvedQuantity =  $('#update-item-input-' + id).val();
                $('#edit-item-' + this.dataset.id).show().data('approved', approvedQuantity);
                console.log(approvedQuantity);
                $('#td-' + this.dataset.id).html( approvedQuantity);

                $.ajax({
                    url: '{{ path('app_stock_request_item_update', {'id': 'ID_PLACEHOLDER'}) }}'.replace('ID_PLACEHOLDER', id),
                    type: 'POST',
                    data: {
                        quantityApproved: approvedQuantity
                    },
                    success: function (response) {
                        $('#td-' + id).html(approvedQuantity);
                        Swal.fire('Success', response.message, 'success');
                    },
                    error: function (xhr, status, error) {
                        Swal.fire('Error', 'There was a problem updating the item. Please try again.', 'error');
                    }
                });
            });
            $('.edit-item').click(function (e) {
                const quantityApproved = $(this).data('approved');
                const input = $('<input type="number" class="form-control"/>')
                    .attr('id', "update-item-input-" + this.dataset.id).val(quantityApproved);
                $('#td-' + this.dataset.id).html(input);
                $(this).hide();
                $('#update-item-' + this.dataset.id).show();
            })
            $('.delete-item').click(function () {
                const id = this.dataset.id;
                $.ajax({
                    url: '{{ path('app_stock_request_items_delete', {'id': 'ID_PLACEHOLDER'}) }}'.replace('ID_PLACEHOLDER', id),
                    type: 'POST',
                });
                location.reload();
            })
        });
    </script>
{% endblock %}

{% block body %}
    <h3 class="fw-bold py-3 mb-4 ms-3">
        Stock Request
    </h3>

    <div class="card pb-5">
        <div class="card-header d-flex">
            <h5 class="mb-0">Request's Info</h5>
            <a class="btn btn-secondary ms-auto" href="{{ path('app_stock_request_index') }}">
                <i class="bx bx-arrow-back me-0 me-sm-1"></i>
                <span class="d-none d-sm-inline-block">Back To List</span>
            </a>
        </div>
        <div class="container-fluid">
            <div class="my-2 d-flex flex-wrap justify-content-between align-items-center">
                <span>Request Id:- {{ stock_request.id }}</span>
                <span>Requested By:- {{ stock_request.requestedBy.email }}</span>
                <span>Status:- {{ stock_request.status }}</span>
            </div>
            <div class="my-2 d-flex">
                {{ include('stock_request/_form.html.twig') }}
            </div>
        </div>
    </div>

    <div class="my-2">
        <div class="card pb-5">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="mb-0">Product's Info</h5>
            </div>
            <div class="container-fluid">
                {{ form_start(stock_request_items_form) }}
                <div class="row">
                    {% for field in stock_request_items_form %}
                        {% if field.vars.name != '_token' %}
                            <div class="form-group col-md-4 col-12 p-2">
                                {{ form_row(field) }}
                            </div>
                        {% endif %}
                    {% endfor %}
                    <div class="form-group col-md-3 col-12 d-flex align-items-end p-2">
                        <input type="submit" value="Add Product" class="btn btn-primary"/>
                    </div>
                </div>
                {{ form_end(stock_request_items_form) }}
            </div>
            <div class="my-2">
                <div class="table-responsive text-nowrap scrollable-container overflow-hidden">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Quantity Requested</th>
                            <th>Quantity Approved</th>
                            <th>Product</th>
                            <th>Status</th>
                            <th>CreatedAt</th>
                            <th>UpdatedAt</th>
                            <th>actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for stock_request_item in stock_request_items %}
                            <tr>
                                <td>{{ stock_request_item.id }}</td>
                                <td>{{ stock_request_item.quantityRequested }}</td>
                                <td id="td-{{ stock_request_item.id }}">{{ stock_request_item.quantityApproved }}</td>
                                <td>{{ stock_request_item.product.name }}</td>
                                <td>{{ stock_request_item.status.value }}</td>
                                <td>{{ stock_request_item.createdAt ? stock_request_item.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                                <td>{{ stock_request_item.updatedAt ? stock_request_item.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                                <td>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <a href="{{ path('app_stock_request_items_edit', {'id': stock_request_item
                                        .id}) }}" id="{{ stock_request_item.id }}" class="btn btn-warning">Advance
                                            Edit</a>
                                    {% else %}
                                        <a href="{{ path('app_stock_request_items_show', {'id': stock_request_item.id}) }}"
                                           class="btn btn-primary">
                                            <i class="bx bx-show-alt"></i>
                                        </a>
                                    {% endif %}
                                    {% if is_granted('ROLE_STOCK_REQUEST_REVIEWER') %}
                                        <button
                                                id="edit-item-{{ stock_request_item.id }}"
                                                class="edit-item btn btn-success"
                                                data-id="{{ stock_request_item.id }}"
                                                data-approved="{{ stock_request_item.quantityApproved }}">
                                            <i class="bx bxs-edit"></i>
                                        </button>
                                        <button
                                                id="update-item-{{ stock_request_item.id }}"
                                                class="update-item btn btn-success"
                                                data-id="{{ stock_request_item.id }}"
                                                data-approved="{{ stock_request_item.quantityApproved }}">
                                            <i class='bx bxs-check-circle'></i>
                                        </button>
                                    {% endif %}
                                    <button
                                            id="delete-item-{{ stock_request_item.id }}"
                                            data-id="{{ stock_request_item.id }}"
                                            class="delete-item btn btn-danger"
                                            data-approved="{{ stock_request_item.quantityApproved }}">
                                        <i class="bx bxs-trash"></i>
                                    </button>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="10" class="text-center">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
