{% extends 'base.html.twig' %}

{% block title %}Edit StockRequest{% endblock %}

{% set current_page = 'aside-menu-stock-requests' %}

{% block additional_js %}
    {{ include('partials/active_menu_script.html.twig') }}
{% endblock %}

{% block body %}
    <div class="m-2">

        <h3 class="fw-bold py-3 mb-4 ms-3">
            Stock Request
        </h3>
        <div class="m-2">
            <div class="card pb-5">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">Request's Info</h5>
                    <a class="btn btn-secondary" href="{{ path('app_stock_request_index') }}">
                        <i class="bx bx-arrow-back me-0 me-sm-1"></i>
                        Back To List
                    </a>
                </div>
                <div class="my-2">
                    {{ include('stock_request/_form.html.twig', {'button_label': 'Update'}) }}
                </div>
            </div>
        </div>
        <div class="m-2">
            <div class="card pb-5">
                <div class="card-header d-flex justify-content-between align-items-center">
                    <h5 class="mb-0">Product's Info</h5>

                </div>
                <div class="container-fluid">

                    {{ form_start(stockRequestItemsForm) }}
                    <div class="row">
                        {% for field in stockRequestItemsForm %}
                            {% if field.vars.name != '_token' %}
                                <div class="form-group col-md-4 col-12 p-2">
                                    {{ form_row(field) }}
                                </div>
                            {% endif %}
                        {% endfor %}
                        <div class="form-group col-md-3 col-12 d-flex align-items-center">
                            <input type="submit" value="Add Product" class="btn btn-primary"/>
                        </div>
                    </div>
                    {{ form_end(stockRequestItemsForm) }}
                </div>
                <div class="my-2">
                    {#                    {{ include('stock_request/_form.html.twig', {'button_label': 'Update'}) }} #}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
